/************************* Classes *************************/
body {
    background-image: url("images/background.gif");
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.title-fade {
    transform-origin: top top;
    animation-name: title-fade;
    animation-duration: 2s;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.5s;
}
/***********************************************************/

/************************ Keyframes ************************/
@keyframes fade-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes title-fade {
    0% {
        transform: scaleX(1) scaleY(1);
        backdrop-filter: blur(5px);
    }

    30% {
        opacity: 100%;
    }

    100% {
        transform: scaleX(2) scaleY(2);
        opacity: 0%;
        backdrop-filter: blur(0px);
    } 
}
/***********************************************************/

/************************* Module **************************/
#cntFadeOut, #cntFadeIn {
    background-color: black;
    position:absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    animation-duration: 0.5s;
    z-index: 999;
}
#cntFadeOut {
    animation-name: fade-out;
}
#cntFadeIn {
    animation-name: fade-in;
}
/***********************************************************/

/*************************** Menu **************************/
#cntMenuSelection {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#cntMenuSelection > img {

    position: relative;
    top: 20vh;
    height: 60vh;

}
/***********************************************************/

/************************** Title **************************/
#cntTitle {
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.25vh black;
    height: 100vh;
}

#cntTitle > label{
    margin: auto;
    display: table;
    position: relative;
    font-size: 10vh;
    top: 25vh;
}

#cntTitle > #lblTitle {
    font-size: 25vh;
    -webkit-text-stroke: 0.35vh black;
}
/***********************************************************/